.list-container {
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px auto;
    color: white;
    background-color: rgb(37, 150, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    max-width: 280px;
    transition: transform 0.3s ease;
}

.list-container:hover {
    background-color: rgb(30, 130, 165);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-left {
    display: flex;
    align-items: center;
}

.list-right {
    display: flex;
    align-items: center;
}

.list-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    color: black;
    align-items: center;
}

.list-name {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.add-url,
.delete-button,
.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    color: black;
}

.add-url:hover,
.delete-button:hover,
.dropdown-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.collapsible-url-menu {
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.url-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #333;
}

.url-item:last-child {
    border-bottom: none;
}

.collapsible-url-menu {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
}

.url-item {
    margin-bottom: 5px;
    color: #333;
}
