.list-container {
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgb(37, 150, 190);
    max-width: 280px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.list-container:hover {
    background-color: rgb(30, 130, 165);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
}

.list-left {
    display: flex;
    align-items: center;
}

.list-right {
    display: flex;
    align-items: center;
}

.list-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    color: black;
}

.list-name {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.add-url,
.delete-button,
.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    color: black;
}

.add-url:hover,
.delete-button:hover,
.dropdown-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.collapsible-url-menu {
    max-height: 0;
    overflow-y: auto;  /* Changed from hidden to auto */
    transition: max-height 0.3s ease-out;
    background-color: transparent;
    border-top: 1px rgb(30, 130, 165);
}

.collapsible-url-menu.open {
    max-height: 200px; /* Changed from 500px to 200px */
    transition: max-height 0.5s ease-in;
}

/* Add these new styles for the scrollbar */
.collapsible-url-menu::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}



